@model Bychvata.Web.ViewModels.Models.Bungalows.BungalowDetailViewModel

@{
    ViewData["Title"] = "Детайли";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="row">
        <dl class="col-4">
            <div class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Number)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Number)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Rooms)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Rooms)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Beds)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Beds)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Notes)
                </dd>
            </div>
        </dl>
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <img src="~/20180715_055600.jpg" style="width:100%" />
                </div>
                <div class="col-6">
                    <img src="~/20180707_095622.jpg" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Обратно</a>
</div>
