@using Bychvata.Web.ViewModels.Models.Reservations
@model ReservationEditBindingModel

@{
    ViewData["Title"] = "Корекция";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Arrival" class="control-label">Пристигане:</label>
                        <input type="date" asp-for="@Model.Arrival" disabled class="form-control" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Departure" class="control-label">Заминаване:</label>
                        <input type="date" asp-for="@Model.Departure" disabled class="form-control" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="@Model.Price" class="control-label">Цена:</label>
                        <input type="text" asp-for="@Model.Price" disabled class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Бележки:</label>
                <textarea asp-for="@Model.Notes" class="form-control"></textarea>
                <span asp-validation-for="@Model.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Допълнителни услуги:</label>
                @for (var i = 0; i < Model.Additions.Count; i++)
                {
                    <div>
                        <input type="checkbox" asp-for="@Model.Additions[i].IsIncluded" />
                        <label asp-for="@Model.Additions[i].IsIncluded">
                            @Model.Additions[i].Name - @Model.Additions[i].Price лв.
                        </label>
                        <input type="hidden" asp-for="@Model.Additions[i].Id" />
                        <input type="hidden" asp-for="@Model.Additions[i].Name" />
                        <input type="hidden" asp-for="@Model.Additions[i].Price" />
                    </div>
                }
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-2">
                        <label asp-for="Guests">Гости:</label>
                    </div>
                    <div class="col-10">
                        @if (Model.Guests.Count > 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Име</th>
                                        <th>Фамилия</th>
                                        <th>Телефон</th>
                                        <th>Документ</th>
                                    </tr>
                                </thead>
                                @foreach (var guest in Model.Guests)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@guest.FirstName</td>
                                            <td>@guest.LastName</td>
                                            <td>@guest.TelephoneNumber</td>
                                            @if (guest.HasDocument)
                                            {
                                                <td>
                                                    <a method="get" asp-controller="Documents" asp-action="Edit" asp-route-id="@guest.DocumentId">Коригирай</a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <a asp-controller="Documents" asp-action="Add" asp-route-id="@guest.DocumentId">Добави</a>
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        }
                        else
                        {
                            <span>Все още не сте добавили гости, моля</span>
                            <a class="btn btn-outline-info" asp-controller="Guests" asp-action="Add" asp-route-id="@Model.Id">добави гост</a>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <a asp-controller="Guests" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-secondary @(Model.Guests.Count >= 4 ? "disabled" : string.Empty)">Добави гост</a> |
                </div>
            </div>
        </form>
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalEdit">Запази</button>
    </div>
</div>
<div>
    <a asp-action="MyReservations">Обратно</a>
</div>

<!-- Modal -->
<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you confirm this changes?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>
